/* Disable the meta links on the right side of doc pages. */

.td-page-meta__view {
    display: none !important;
}

.td-page-meta__child {
display: none !important;}

.td-page-meta__edit {
display: none !important;}
